@font-face {
    font-family: "spartan";
    src: url(../font/LeagueSpartan-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "spartan";
}

/* navigation */
#menu {
    padding: 1rem 0 1rem 1rem;
    top: 1rem;
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#menu label:hover {
    cursor: pointer;
}

#logo {
    color: white;
    font-size: 2rem;
    font-weight: 300;
}

#menu ul {
    position: absolute;
    left: -100%;
    top: 4rem;
    transition: all .4s;
    background-color: rgba(255, 255, 255, .7);
    color: rgb(126, 126, 126);
    list-style: none;
}

#menu li {
    padding: 1rem;
    padding-left: 2rem;
    width: 60vw;
    transition: all .4s;
}
#menu li:hover{
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, .7);
    cursor:pointer;
} 

#checkbox {
    display: none;
}

#checkbox:checked~ul {
    left: 5%;
}

#imgDiscover {
    position: relative;
    height: 50vh;
    background-image: url(../img/mobile-image-hero-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navDiscover {
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    width: 15vw;
}

#navDiscover div {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#txtDiscover,
#txtAbout {
    padding: 4rem 2rem;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 2rem;
    margin-bottom: 1rem;
}

#txtDiscover p {
    color: rgb(172, 172, 172);
    line-height: 1.2rem;
    margin-bottom: 2rem;
}

#txtDiscover button {
    letter-spacing: .7rem;
    background-color: white;
    border: none;
    font-weight: 900;
}

#imgAbout1 {
    height: 35vh;
    background-image: url(../img/image-about-dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#imgAbout2 {
    height: 35vh;
    background-image: url(../img/image-about-light.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: .9rem;
    font-weight: 900;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
}

#about p {
    color: rgb(172, 172, 172);
    line-height: 1.2rem;
}

@media screen and (min-width:576px) {
    #menu {
        width: 60vw;
        justify-content: flex-start;
    }

    #logo {
        margin-right: 1rem;
    }

    #menu label {
        display: none;
    }

    #menu ul {
        position: static;
        color: white;
        display: flex;
        list-style-type: none;
        background-color: rgba(255, 255, 255, 0);
    }

    #menu li {
        padding: 1rem;
        width: fit-content;
        margin-top: .4rem;
    }

    #discover,
    #about {
        display: flex;
    }

    #imgDiscover {
        width: 60vw;
        height: 65vh;
        background-image: url("../img/desktop-image-hero-1.jpg");
    }

    #txtDiscover {
        width: 40vw;
    }

    #imgAbout1 {
        width: 30vw;
        height: 35vh;
    }

    #txtAbout {
        width: 40vw;
    }

    #imgAbout2 {
        width: 30vw;
        height: 35vh;
    }

    #discover p,
    #about p {
        font-size: .8rem;
    }

    #txtAbout {
        padding: 2rem 0.2rem;
    }

    #navDiscover {
        width: 10vw;
        left: 60vw;
    }

    #txtDiscover {
        padding: 1rem .5rem;
    }
}

@media screen and (min-width:768px) {
    #txtAbout {
        padding: 2rem 1rem;
    }


}

@media screen and (min-width:1024px) {
    #txtAbout {
        padding: 2rem 2rem;
    }

    #txtDiscover {
        padding: 4rem 2rem;
    }
}